.navbar {
  padding: 15px;
  background-color: #2c99d6; }
  .navbar div {
    display: inline-block; }
  .navbar .logo {
    margin-left: 10%;
    font-family: 'Cyclo';
    font-size: 34px;
    color: white; }
  .navbar .search {
    vertical-align: super;
    margin-left: 15%; }
    .navbar .search input {
      height: inherit;
      width: 165px;
      letter-spacing: 1.5px;
      font-weight: 100;
      display: block;
      padding: 6px 12px;
      font-size: 14px;
      color: #555;
      background-color: #fff;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; }
  .navbar .location {
    vertical-align: super; }
    .navbar .location i {
      font-size: 20px;
      color: white;
      margin-left: 15px;
      margin-right: 5px; }
    .navbar .location .address {
      font-size: 15px;
      color: white;
      border-bottom: 1.5px dashed white; }
  .navbar .login {
    margin-left: 15%; }
    .navbar .login button {
      box-shadow: 6px 6px 15px 2px #1478aa;
      height: 40px;
      width: 110px;
      display: inline-block;
      padding: 6px 12px;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      vertical-align: super;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 6px;
      color: #fff;
      background-color: #92cc71;
      border-color: #92cc71; }

@media (max-width: 1013px) {
  .logo {
    margin-left: 7% !important; }

  .search {
    margin-left: 10% !important; }

  .login {
    margin-left: 10% !important; } }
@media (max-width: 838px) {
  .logo {
    margin-left: 3% !important; }

  .search {
    margin-left: 7% !important; }
    .search input {
      width: 110px !important; }

  .login {
    margin-left: 7% !important; } }
@media (max-width: 676px) {
  .search, .location, .login {
    display: none !important; } }
.banner {
  background-image: url("../images/overlayed-wine-wall.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  text-align: center;
  color: white;
  padding-top: 60px; }
  .banner .header span {
    display: block; }
  .banner .header .title {
    font-size: 50px;
    font-weight: bold; }
  .banner .header .subtitle {
    font-size: 20px;
    font-weight: 100;
    margin-top: 10px;
    margin-bottom: 35px; }
  .banner .icons {
    font-size: 20px; }
    .banner .icons div {
      cursor: pointer;
      display: inline-block;
      padding: 5px 10px;
      color: white;
      border: 1px solid white;
      border-radius: 50%; }
    .banner .icons .map {
      margin: 0 15px;
      padding-left: 13px;
      padding-right: 13px; }
  .banner .line {
    width: 100px;
    margin: 0 auto;
    border-bottom: 1px solid white;
    margin-top: 25px; }
  .banner .subicon {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px; }
  .banner .address {
    font-weight: 100; }

@media (max-width: 443px) {
  .title {
    font-size: 40px !important; } }
.midnav div {
  display: inline-block; }
.midnav li, .midnav ul {
  display: inline-block;
  list-style: none; }
.midnav .buttons {
  height: 100%;
  margin-left: 8%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20%; }
  .midnav .buttons .button {
    color: #A7B0B6;
    padding: 30px;
    font-size: 20px;
    font-weight: 100;
    cursor: pointer;
    letter-spacing: 1.5px; }
  .midnav .buttons .button:hover {
    background-color: #C8C9CB;
    color: #FF695F; }
.midnav .cart {
  width: 200px; }
  .midnav .cart .price {
    color: #FE6A5F;
    font-size: 24px;
    margin-right: 10%; }
  .midnav .cart .cart-button {
    box-shadow: 6px 6px 15px 2px #EAEAEA;
    height: 40px;
    width: 85px;
    display: inline-block;
    padding: 6px 12px;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    vertical-align: baseline;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 6px;
    color: #fff;
    background-color: #FE6A5F;
    border-color: #FE6A5F; }

@media (max-width: 1047px) {
  .midnav .buttons {
    margin-right: 10%;
    margin-left: 4%;
    padding-left: 0px; }
    .midnav .buttons .button {
      padding: 30px 15px; } }
@media (max-width: 772px) {
  .midnav .buttons {
    margin-right: 8%;
    margin-left: 2%; }
    .midnav .buttons .button {
      font-size: 16px; } }
@media (max-width: 633px) {
  .midnav .buttons {
    margin-left: 0px;
    margin-right: 0px; }
    .midnav .buttons .button {
      padding: 20px 7px; }
  .midnav .cart {
    display: none; } }
.shop {
  background-color: #ECECEC;
  padding-top: 25px; }
  .shop .thumbnail {
    border-radius: 9px; }
  .shop .container aside .store-bio {
    padding-top: 20px; }
    .shop .container aside .store-bio img {
      width: 80%; }
    .shop .container aside .store-bio .caption {
      text-align: center; }
      .shop .container aside .store-bio .caption p {
        letter-spacing: 1px;
        font-size: 13px;
        color: #696969; }
      .shop .container aside .store-bio .caption i {
        color: #FF675E;
        margin-right: 10px; }
      .shop .container aside .store-bio .caption .rating {
        color: #FF675E; }
      .shop .container aside .store-bio .caption .votes {
        color: #B9B9B9;
        font-weight: 100; }
    .shop .container aside .store-bio .popularity {
      border-top: 1px solid #F0F0F0;
      font-size: 20px; }
    .shop .container aside .store-bio .contact {
      border-top: 1px solid #F0F0F0;
      text-align: center;
      padding-top: 18px; }
      .shop .container aside .store-bio .contact i {
        font-size: 18px;
        color: #FF675E; }
      .shop .container aside .store-bio .contact span {
        font-weight: 100;
        color: #696969; }
      .shop .container aside .store-bio .contact .phone {
        margin-top: 10px;
        margin-bottom: 15px; }
  .shop .container aside .product-filter .thumbnail {
    padding: 0px; }
  .shop .container aside .product-filter ul {
    list-style: none;
    padding-left: 0px;
    margin: 0; }
  .shop .container aside .product-filter li {
    color: #696969;
    padding: 10px;
    padding-left: 30px;
    cursor: pointer; }
  .shop .container aside .product-filter li:hover {
    background-color: #EAECEB; }
  .shop .container aside .product-filter .active {
    padding-left: 10px; }
    .shop .container aside .product-filter .active i {
      color: #FF675E;
      font-size: 8px;
      vertical-align: middle;
      margin-right: 10px; }
  .shop .container section .thumbnail .image {
    text-align: center;
    cursor: pointer; }
    .shop .container section .thumbnail .image img {
      height: 200px; }
  .shop .container section .thumbnail .name {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    margin-top: 15px;
    margin-bottom: 10px; }
    .shop .container section .thumbnail .name p {
      font-weight: 200; }
  .shop .container section .thumbnail .info {
    margin-top: 15px;
    margin-bottom: 10px; }
    .shop .container section .thumbnail .info .price {
      display: inline-block;
      margin-right: 20%;
      margin-left: 5%;
      vertical-align: middle; }
      .shop .container section .thumbnail .info .price .stars {
        color: #F59B38; }
        .shop .container section .thumbnail .info .price .stars i {
          cursor: pointer; }
      .shop .container section .thumbnail .info .price span {
        font-size: 16px;
        color: #FF675E; }
    .shop .container section .thumbnail .info button {
      box-shadow: 6px 6px 6px 2px #EAEAEA;
      height: 35px;
      width: 75px;
      display: inline-block;
      padding: 6px 12px;
      font-size: 17px;
      font-weight: 400;
      text-align: center;
      vertical-align: baseline;
      cursor: pointer;
      border: 1px solid transparent;
      border-radius: 6px;
      color: #fff;
      background-color: #FE6A5F;
      border-color: #FE6A5F; }

@media (max-width: 991px) {
  .shop .container aside .store-bio img {
    width: 100%; }
  .shop .container aside .store-bio .caption {
    padding: 0px; }
    .shop .container aside .store-bio .caption p {
      font-size: 11px; }
  .shop .container aside .store-bio .popularity {
    font-size: 15px; }
    .shop .container aside .store-bio .popularity i {
      margin-right: 5px; }
  .shop .container aside .store-bio .contact i {
    font-size: 15px; }
  .shop .container aside .store-bio .contact span {
    font-size: 13px; } }
@media (max-width: 435px) {
  .shop .container aside .store-bio img {
    width: 100%; }
  .shop .container aside .store-bio .caption {
    padding: 0px; }
    .shop .container aside .store-bio .caption p {
      font-size: 8px; }
  .shop .container aside .store-bio .popularity {
    font-size: 12px; }
    .shop .container aside .store-bio .popularity i {
      margin-right: 0; }
  .shop .container aside .store-bio .contact i {
    font-size: 12px; }
  .shop .container aside .store-bio .contact span {
    font-size: 10px; }
  .shop .container aside .product-filter li {
    font-size: 12px;
    padding: 5px;
    padding-left: 17px; }
  .shop .container aside .product-filter .active {
    padding-left: 7px; }
    .shop .container aside .product-filter .active i {
      margin-right: 0px; } }
.footer {
  min-height: 60px;
  background-color: #33495C;
  color: #A1A6AA;
  padding: 15px;
  font-weight: 100; }
  .footer div, .footer span {
    display: inline-block; }
  .footer .copyright {
    margin-right: 27%;
    margin-left: 8%; }
  .footer .made {
    margin-right: 15%; }
    .footer .made .nyc {
      font-weight: bold;
      font-size: 22px; }
    .footer .made i {
      color: #FE6A5F;
      font-size: 22px; }
  .footer .nav span {
    margin-right: 25px;
    cursor: pointer; }

@media (max-width: 1115px) {
  .footer .copyright {
    margin-right: 20%;
    margin-left: 10%; }
  .footer .nav span {
    margin-right: 20px; } }
@media (max-width: 980px) {
  .footer .copyright {
    margin-right: 15%; }
  .footer .made {
    margin-right: 10%; } }
@media (max-width: 834px) {
  .footer .copyright {
    margin-right: 10%;
    margin-left: 5%; }
  .footer .made {
    margin-right: 9%; }
  .footer .nav span {
    margin-right: 10px; } }
@media (max-width: 677px) {
  .footer {
    text-align: center; }
    .footer .copyright {
      display: none; }
    .footer .made {
      display: block;
      margin: 0; } }

/*# sourceMappingURL=styles.css.map */
